.article-content {
  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Didact Gothic', sans-serif;
    @apply font-extrabold tracking-tight leading-tight my-2;

    & + p {
      @apply mt-4;
    }
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-3xl;
  }
  p {
    @apply font-normal leading-relaxed text-start my-2;
  }

  /* Links */
  a {
    @apply relative font-bold no-underline transition-colors duration-300 inline-block;
    color: var(--color-ui-text);

    &::before {
      content: '';
      @apply absolute bottom-0.5 left-0 -z-10 w-full h-2 transition-all duration-300 ease-in-out;
      background-color: var(--color-accent-400);
      opacity: 0.6;
    }

    &:hover::before {
      @apply bottom-0 h-full opacity-80;
    }
  }

  /* Multiline code blocks */
  & > pre {
    @apply my-8 overflow-x-auto rounded bg-bg-200 px-1.5 py-0.5;
  }

  /* Inline code blocks */
  :not(pre) > code,
  mjx-container {
    @apply inline-block rounded bg-bg-200 px-1.5 py-0.5 text-secondary-600 transition-colors duration-200;
  }

  /* Writedown errors */
  *[data-writedown-error] {
    @apply block p-4 my-2 bg-red-800 rounded overflow-x-auto max-w-screen;
  }

  /* Lists */
  & > ul,
  & > ol {
    @apply ps-8;
  }

  & > ul {
    @apply list-none;
  }

  & > ol {
    @apply list-decimal;
  }

  & > ul > li::marker {
    content: '  ';
  }

  & li > ul,
  & li > ol {
    @apply ps-8;
  }

  & li > ul > li::marker {
    content: '󰋙  ';
  }

  /* Blockquotes */
  & > blockquote {
    @apply my-6 border-l-4 border-primary-500 bg-primary-500/5 px-6 py-4 italic text-text-700 rounded-r-md;

    p {
      @apply my-0;
    }
  }

  /* rehype-pretty-code */
  & > figure[data-rehype-pretty-code-figure] {
    @apply my-8 flex flex-col;

    & > figcaption {
      @apply ps-4 text-text-900;

      &::before {
        content: '// ';
        font-weight: bold;
      }
    }

    pre {
      @apply w-full overflow-x-auto rounded-xl py-4 shadow-lg;
    }
    code {
      @apply grid min-w-full text-sm leading-6 lg:break-all lg:text-wrap;

      counter-reset: step;
      counter-increment: step 0;

      & > [data-line] {
        @apply border-l-4 border-l-transparent px-4;

        &::before {
          @apply mr-6 inline-block w-6 text-right opacity-50 select-none;

          content: counter(step);
          counter-increment: step;
        }
      }
      & > [data-highlighted-line] {
        @apply border-l-primary-500 bg-primary-500/10;
      }
    }
  }

  /* rehype-mathjax */
  & > figure[data-math-block] {
    @apply my-8 flex justify-center;
    mjx-container {
      @apply flex! w-full justify-center overflow-x-auto rounded-xl border border-ui-border py-4 shadow-lg;
    }
  }

  /* Table of Contents */
  & > ul[data-toc] {
    @apply my-6 max-w-xs rounded-xl border border-ui-border bg-bg-100 p-6 shadow-sm list-none;

    li {
      @apply relative my-1;

      &::marker {
        content: none;
      }
    }

    /* reset custom link here */
    a {
      @apply block rounded-md px-2 py-1 text-sm text-text-400 hover:bg-primary-500/10 hover:text-primary-500;
      &::before {
        display: none;
      }
    }

    ul {
      @apply mt-1 ml-4 border-l border-ui-border pl-2 list-none;
    }

    & > li > p > a {
      @apply font-bold text-text-950;
    }
  }
}
